.Post_main_wrap {
    max-width: 375px;
    height: 618px;
    background-color: pink;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;

    .Post_main_header {
        width: 375px;
        height: 48px;
        margin-top: 50px;
        background-color: #fff;

        img {
            margin-top: 12px;
            margin-left: 12px;
            cursor: pointer;
        }
    }

    .Post_main_name {
        h1 {
            font-size: 15px;
            font-weight: 500;
            margin-left: 17px;
            margin-top: 17px;
        }

        input {
            width: 335px;
            height: 48px;
            background: #F5F7FA;
            border-radius: 10px;
            margin-left: 17px;
            font-size: 18px;
            font-weight: 400;
            border: none;
        }

        img {
            margin-left: 20px;
        }
    }
}